version: '3'

services:
  myDB:
    image: postgres:15.3
    container_name: my-database
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=taller
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=taller-db
    volumes:
      - ./postgres:/var/lib/postgresql/data
      - ./database/EJECUTAR-ESTE.sql:/docker-entrypoint-initdb.d/10-EJECUTAR-ESTE.sql:ro
  
  app:
    build: .
    container_name: taller-app
    restart: always
    depends_on:
      - myDB
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - DB_HOST=myDB

  pdAdmin:
    image: dpage/pgadmin4
    container_name: pgadmin4
    restart: always
    depends_on:
      - myDB
    ports:
      - "5050:80"
    environment:
      - PGADMIN_DEFAULT_EMAIL=rene@gmail.com
      - PGADMIN_DEFAULT_PASSWORD=123456
    volumes:
      - ./pgadmin:/var/lib/pgadmin
      - ./pgadmin:/certs/server.cert
      - ./pgadmin:/certs/server.key
      - ./pgadmin:/pgadmin4/servers.json